    .heading1{
            color:red;
            font-size: 40px;
            text-decoration:double green;
        }

        .heading2 {
            color:purple;
            font-size: 35px;
            text-decoration:double green;
        }
/* 
        body{
            background-color: #fa7f7a;
            color: green;
        } */